PL_Incremental_Load.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "432dd1b0-f0eb-afca-4110-ebdd7c41000e",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ACT_Truncate_Staging",
        "dependsOn": []
      },
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "source"
              }
            },
            "connectionSettings": {
              "name": "LH_INCREMENTAL",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "94a79985-cb67-adad-4e82-18f8175cb864",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "externalReferences": {
                  "connection": "3f2974ee-0d45-4a97-a029-4f901a1be51f"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "BinaryReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "ACT_GetMetadata_Source",
        "dependsOn": [
          {
            "activity": "ACT_Truncate_Staging",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('ACT_GetMetadata_Source').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "source",
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "LH_INCREMENTAL",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "94a79985-cb67-adad-4e82-18f8175cb864",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "externalReferences": {
                          "connection": "3f2974ee-0d45-4a97-a029-4f901a1be51f"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings",
                    "copyBehavior": "FlattenHierarchy"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "staging",
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "connectionSettings": {
                      "name": "LH_INCREMENTAL",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "94a79985-cb67-adad-4e82-18f8175cb864",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "externalReferences": {
                          "connection": "3f2974ee-0d45-4a97-a029-4f901a1be51f"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "ACT_Copy_SourceToStaging",
              "dependsOn": []
            },
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "d4fbeff5-6288-a874-4c77-51d435e4bbcf",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "file_name": {
                    "value": {
                      "value": "@item().name",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "ACT_Notebook_StagingToSilver",
              "dependsOn": [
                {
                  "activity": "ACT_Copy_SourceToStaging",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ACT_ForEach_Files",
        "dependsOn": [
          {
            "activity": "ACT_GetMetadata_Source",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}